@charset 'utf-08';

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-Regular.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-Medium.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-Bold.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('font/프리텐다드/Pretendard-SemiBold.woff2') format('woff2'),
        url('font/프리텐다드/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #333;
    line-height: 1;
    font-family: 'Pretendard';
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* header start */
.header {
    height: 105px;
    border-bottom: 1px solid rgb(51, 51, 51, 0.1);
}

.header .inner {
    /* padding: 0  38px; */
    width: 95%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.header .inner .logo a {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .inner .logo a figure {
    width: 71px;
}

.header .inner .logo a figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header .inner .logo a h1 {
    font-family: 'yg-jalnan';
    font-size: 1.9rem;
    position: relative;
}

.header .inner .logo a h1::after {
    content: '';
    width: 1px;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.5);

    position: absolute;
    top: 50%;
    left: -10px;
    transform: translate(0, -50%);
}

.header .inner .pc_nav .gnb {
    display: flex;
    /* gap: 103px; */
}

.header .inner .pc_nav .gnb li .depth01 {
    position: relative;

    display: block;
    line-height: 105px;
    padding: 0 50px;

    font-size: 18px;
}

.header .inner .pc_nav .gnb li .depth01::after {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);

    position: absolute;
    top: 50%;
    right:0;
    transform: translate(0, -50%);
}

.header .inner .pc_nav .gnb li:last-child .depth01::after {
    display: none;
}

.header .inner .pc_nav .gnb li {
    position: relative;
}

.header .inner .pc_nav .gnb li .depth02 {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 322px;
    
    display: none;

    z-index: 99;
}

.header .inner .pc_nav .gnb li .depth02 li {
    margin: 30px 0;
    text-align: center;
}

.header .inner .pc_nav .gnb li .depth02 li:first-child {
    font-family: 'yg-jalnan';
    font-size: 18px;
    margin-bottom: 40px;
}

.header .inner .pc_nav li {
    position: relative;
}

.header .inner .pc_nav .gnb li .depth01::before {
    content: '';
    width: 20px;
    height: 5px;
    background-color: #4478FF;

    position: absolute;
    bottom: 35px;
    left: 50px; 
    opacity: 0;
}

.header .inner .pc_nav .gnb li .depth01:hover::before {
    opacity: 1;
}

.header .inner .pc_nav .gnb li .depth01:hover + .depth02 {
    display: block;
    background-color: #4478FF;
    color: #fff;
}

.header .inner .util {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header .inner .util .management a {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.header .inner .util .management a p {
    color: #888;
}

/* main 시작 */
.main {
    margin-top: 11.5rem;
    padding-bottom: 15rem;
    /* margin-bottom: 15rem; */
}

.main .title_wrap {
    margin-bottom: 100px;
    font-family: 'yg-jalnan';
}

.main .title_wrap .inner {
    max-width: 1280px;
    width: calc(100% - 60px);
    margin: 0 auto;
}

.main .title_wrap .inner {
    display: flex;
    justify-content: space-between;
}

.main .title_wrap .inner .left {
    display: flex;
    align-items: end;
    gap: 2rem;
}

.main .title_wrap .inner .left h1 {
    font-size: 7rem;
}

.main .title_wrap .inner .left h1 strong {
    color: #4478FF;
}

.main .title_wrap .inner .left figure {
    width: 25.8rem;
}

.main .title_wrap .inner .left figure img {
    width: 100%;
    object-fit: cover;
}

.main .title_wrap .inner .right {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.main .title_wrap .inner .right h3 {
    font-size: 2.4rem;
}

.main .title_wrap .inner .right figure {
    width: 4rem;
    height: 4rem;
}

.main .title_wrap .inner .right figure img {
    width: 100%;
    height: 100%;
}

.mySwiper {
    width: 100%;
    /* height: 28vw; */
}

.main {
    position: relative;
}

.main .swiper_container::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #F3F8FF;
    position: absolute;
    bottom: -54%;
    left: 0;
    z-index: -2;
}

.mySwiper .swiper-slide {
    /* min-width: 836px;  */
    width: 836px;
    height: 395px;
    margin: 30px 5rem; 

    /* height: 395px; */
    /* padding-bottom: 20px; */
}

.mySwiper .swiper-slide div {
    width: 100%;
    height: 100%;
}

.mySwiper .swiper-slide div figure {
    width: 100%;
    height: 100%;

    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
}

.mySwiper .swiper-slide div figure a {
    display: block;
    width: 100%;
    height: 100%;
}

.mySwiper .swiper-slide div figure a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* icon */
.mySwiper .swiper_container {
    position: relative;
    margin-bottom: 15rem;
}

.mySwiper .swiper_container .swiper {
    position: static;
}

.mySwiper .swiper_btn {
    width: 836px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

.mySwiper .swiper-button-next, 
.mySwiper .swiper-button-prev {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* background-color: #fff; */
    background: url('../../img/next-btn.png') center center / 100% no-repeat #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}

.mySwiper .swiper-button-next {
    top: 22px;
    right: -40px; /* width / 2 = 80 / 2 */
    background: url('../img/next-btn.png') center center / 100% no-repeat #fff;
}

.mySwiper .swiper-button-prev {
    background: url('../img/prev-btn.png') center center / 100% no-repeat #fff;
    top: 22px;
    left: -40px;
}

.mySwiper .swiper-button-next:after, 
.mySwiper .swiper-button-prev:after {
    display: none;
}

.mySwiper .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
}

.mySwiper .swiper-pagination-bullet-active {
    width: 43px;
    background-color: #4478FF;
    border-radius: 50px;
}

.mySwiper .swiper-pagination {
    bottom: 0;
}

.section01 {
    margin-bottom: 15rem;
    position: relative;
    padding: 0 0 15rem 0;
}

.section01 .mobile {
    display: none;
}

.section01::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #F3F8FF;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -2;
}

.section01 .inner {
    max-width: 1280px;
    width: calc(100% - 60px);
    margin: 0 auto;

    gap: 90px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.section01 .mb_inner {
    max-width: 1280px;
    width: calc(100% - 60px);
    margin: 0 auto;
}

.section01 .right {
    width: 57%;
}

/* .section01 .left {
    width: 42%;
} */

.section01 .title_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.section01 .title_wrap .text h2 {
    font-size: 4.5rem;
    margin-bottom: 1.3rem;
    font-family: 'yg-jalnan';
}

.section01 .title_wrap .text p {
    font-size: 20px;
}

.section01 .title_wrap .plus {
    width: 43px;
    height: 43px;
}

.section01 .title_wrap .plus figure {
    width: 43px;
    height: 43px;
}

.section01 .title_wrap .plus figure img {
    width: 100%;
    height: 100%;
}

.section01 .item_wrap .item {
    background-color: #fff;
    border-radius: 25px;
    padding: 3rem 3.5rem;

    box-shadow: 0 5px 20px rgb(0, 15, 67, 0.1);
    border: 2px solid transparent;
    left: 25%;

    margin-bottom: 3rem;
}

.section01 .item_wrap .item:hover {
    border: 2px solid #4478FF;
    box-sizing: border-box;
    
}

.section01 .item_wrap .item:last-child {
    margin-bottom: 0;
}

.section01 .item_wrap .item a {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.section01 .item_wrap .item:first-child {
    border: 2px solid #4478FF;
}

.section01 .item_wrap .item .circle {
    width: 80px;
    height: 80px;
    background-color: #4478FF;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
}

.section01 .item_wrap .item .circle span {
    color: #fff;
    font-size: 1.8rem;
    font-family: 'yg-jalnan';
}

.section01 .item_wrap .item .text h2 {
    font-size: 2.6rem;
    margin-bottom: 10px;
}

.section01 .item_wrap .item .text .date-locate {
    display: flex;
    gap: 28px;
}

.section01 .item_wrap .item .text .date {
    display: flex;
    gap: 10px;
    position: relative;
}

.section01 .item_wrap .item .text .date::after {
    content: '';
    width: 1px;
    height: 1.3rem;
    background-color: #666;

    position: absolute;
    top: 0;
    right: -14px;
}

.section01 .item_wrap .item .text .locate {
    display: flex;
    gap: 10px;
}

.section01 .item_wrap .item:last-child .circle {
    background-color: #C1C6D0;
}

.section01 .mb_inner .content_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section01 .mb_inner .content_wrap .right {
    width: 67%;
}

.section01 .mb_inner .content_wrap .left {
    width: 32%;
}

.section01 .inner .right {
    width: 62%;
}

.section01 .inner .left {
    width: 37%;
}

.section01 .mb_inner .item_wrap .item .text .date-locate {
    display: block;
}

.section01 .mb_inner .item_wrap .item .text .date {
    margin-bottom: 5px;
}

.section01 .mb_inner .item_wrap .item .text .date::after {
    display: none;
}

.section01 .left figure {
    max-width: 445px;
    width: 100%;
    height: 630px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.25);
}

.section01 .left figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section01 .mb_inner .left figure {
    height: 42vw;
}

.section02 {
    margin-bottom: 15rem;
}

.section02 .inner {
    max-width: 1280px;
    width: calc(100% - 60px);
    margin: 0 auto;
}

.section02 .inner .title {
    text-align: center;
    margin-bottom: 6rem;
}

.section02 .inner .title h2 {
    font-size: 4.5rem;
    font-family: 'yg-jalnan';
    margin-bottom: 13px;
}

.section02 .inner .title p {
    font-size: 2rem;
}

.section02 .inner .item_wrap {
    display: flex;
    gap: 28px;
    justify-content: space-between;
}

.section02 .inner .item_wrap .main_page {
    width: 49%;
    min-width: 530px;
    height: 620px;
    position: relative;
}

.section02 .swiper02 {
    position: static;
}

.section02 .swiper-slide {
    width: 100%;
    height: 620px;
    background-color: #FF8515;
    border-radius: 25px;
    padding: 100px 60px 0 60px;
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0 !important;
}

.section02 .swiper-slide::after {
    content: '';
    width: 100%;
    max-height: 120px;
    height: 8.5vw;
    background-color: #FF6B00;

    position: absolute;
    bottom: 0;
    left: 0;

    border-radius: 0 0 25px 25px;
    z-index: -1;
}

.section02 .swiper-slide-active {
    opacity: 1 !important;
}

.section02 .swiper-slide .text>div {
    padding: 10px 20px;
    display: inline-block;
    background-color: #BD4F00;
    border-radius: 40px;
    text-align: center;
    align-items: center;
}

.section02 .swiper-slide .text>div span {
    color: #fff;
    font-size: 2.2rem;
    font-family: 'yg-jalnan';
}

.section02 .swiper-slide .text h2 {
    margin-top: 25px;
    color: #fff;
    font-size: 4.5rem;
    font-family: 'yg-jalnan';
}

.section02 .swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.section02 .swiper-android .swiper-slide,
.section02 .swiper-ios .swiper-slide,
.section02 .swiper-wrapper {
    transform: none !important;
    position: static;
}

.section02 .swiper-slide a .menu_img {
    position: absolute;
    bottom: -70px;
    right: -15%;
    height: 43vw;
    max-height: 576px;
}

.section02 .swiper-slide a .menu_img figure {
    width: 100%;
    height: 100%;
}

.section02 .swiper-slide a .menu_img figure img {
    width: 100%;
    height: 100%;

}

.section02 .swiper-button-prev,
.section02 .swiper-rtl .swiper-button-next {
    width: 6rem;
    height: 6rem;
    left: 60px;
    top: 65%;
    background: url('../img/o-prev-btn.svg') center center / 100% no-repeat;
}

.section02 .swiper-button-prev:hover,
.section02 .swiper-rtl .swiper-button-next:hover {
    background: url('../img/prev-btn.png') center center / 100% no-repeat;
}

.section02 .swiper-button-next:after,
.section02 .swiper-button-prev:after {
    display: none;
}

.section02 .swiper-button-next,
.section02 .swiper-rtl .swiper-button-prev {
    width: 6rem;
    height: 6rem;
    left: 130px;
    top: 65%;
    background: url('../img/o-next-btn.svg') center center / 100% no-repeat;
}

.section02 .swiper-button-next:hover,
.section02 .swiper-rtl .swiper-button-prev:hover {
    background: url('../img/next-btn.png') center center / 100% no-repeat;
}

.section02 .pause {
    width: 6rem;
    height: 6rem;
    background: url('../img/stop-btn.svg') center center / 100% no-repeat;
    position: absolute;
    top: 66.5%;
    right: 335px;
}

.section02 .item_wrap .receipt {
    width: 49%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 28px;
}

.section02 .item_wrap .receipt .item {
    width: 49%;
    height: 296px;

    position: relative;
}

.section02 .item_wrap .receipt .item figure {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;

    position: relative;
}

.section02 .item_wrap .receipt .item figure::after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(149, 149, 149, 0) 50%, rgba(51, 51, 51, 0.8575805322128851) 100%);
    position: absolute;
    bottom: 0;
    left: 0;

    display: none;
}

.section02 .item_wrap .receipt .item figure img {
    width: 100%;
    height: 100%;
}

.section02 .item_wrap .receipt .item p {
    position: absolute;
    bottom: 25px;
    left: 0;

    color: #fff;
    text-align: center;
    width: 100%;
    line-height: 23.4px;
    display: none;

    font-size: 18px;
    font-weight: bold;
}

.section02 .item_wrap .receipt .item:hover figure::after {
    display: block;
}

.section02 .item_wrap .receipt .item:hover p {
    display: block;
}

.section03 {
    margin-bottom: 9rem;
}

.section03 .inner {
    max-width: 1280px;
    width: calc(100% - 60px);
    margin: 0 auto;
}

.section03 .inner>.title {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section03 .inner .title h1 {
    font-size: 4.5rem;
    font-family: 'yg-jalnan';
}

.section03 .inner .title .nav {
    display: flex;
    gap: 45px;
}

.section03 .inner .title .nav li {
    display: flex;
    align-items: center;
    gap: 6px;
}

.section03 .inner .title .nav li figure {
    width: 2rem;
    min-width: 12px;
    height: 2rem;
    min-height: 12px;
}

.section03 .inner .title .nav li figure img {
    width: 100%;
    height: 100%;
}

.section03 .inner .title .nav li a {
    font-size: 2.2rem;
    font-weight: bold;
}

.section03 .inner .title .nav li:nth-child(2) {
    position: relative;
}

.section03 .inner .title .nav li:nth-child(2)::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #D9D9D9;

    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
}

.section03 .inner .title .nav li:nth-child(2) a {
    color: #D9D9D9;
}

.section03 .inner .title .nav li:nth-child(2) figure {
    display: none;
}

.section03 .inner .title .nav li:nth-child(3) {
    position: relative;
}

.section03 .inner .title .nav li:nth-child(3)::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #D9D9D9;

    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
}

.section03 .inner .title .nav li:nth-child(3) a {
    color: #D9D9D9;
}

.section03 .inner .title .nav li:nth-child(3) figure {
    display: none;
}

.section03 .inner .title .nav li a:hover {
    color: #4478FF;
}

.section03 .inner .item_wrap .item {
    background-color: #fff;
    border-radius: 25px;
    padding: 3rem 5rem;

    box-shadow: 0 3px 15px rgb(0, 15, 67, 0.15);
    border: 1px solid transparent;

    margin-bottom: 3rem;
}

.section03 .inner .item_wrap .item:hover {
    border: 1px solid #4478FF;
}

.section03 .inner .item_wrap .item a .left .title p {
    position: relative;
    overflow: hidden;
    
}

.section03 .inner .item_wrap .item a .left .title p::after {
    content: '';
    width: 100%;
    height: 8px;
    background-color: rgba(255, 138, 0, 0.2);
    position: absolute;
    bottom: 0;
    left: -100%;

    transition: 0.3s;

    z-index: 0;
}

.section03 .inner .item_wrap .item:hover a .left .title p::after {
    left: 0;
}



.section03 .inner .item_wrap .item a {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.section03 .inner .item_wrap .item a .left {
    display: flex;
}

.section03 .inner .item_wrap .item a .file span {
    color: #FF8A00;
    font-weight: 600; 
}

.section03 .inner .item_wrap .item a .info span {
    color: #4478FF;
    font-weight: 600; 
}

.section03 .inner .item_wrap .item a .title {
    margin-left: 45px;
}

.section03 .inner .item_wrap .item a .title p {
    font-weight: 600; 
}

.section04 ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 9rem;
}

.section04 ul li {
    display: block;
    width: 5.3rem;
    min-width: 43px;
    height: 5.3rem;
    min-height: 43px;
    border-radius: 50%;

    
}

.section04 ul li a {
    display: block;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section04 ul li a figure {
    width: 100%;
    height: 100%;
}

.section04 ul li a figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transform: 0.5s;
}

.section04 ul li a figure img:nth-child(2) {
    display: none;
}

.section04 ul li a:hover figure img:nth-child(1) {
    display: none;
}

.section04 ul li a:hover figure img:nth-child(2) {
    display: block;
}

.footer {
    background-color: #142143;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.footer .logo {
    width: 161px;
    height: 54px;
    margin-bottom: 30px;
}

.footer .logo img {
    width: 100%;
    height: 100%;
}

.footer ul {
    display: flex;
    gap: 35px;
    font-size: 15px;
}

.footer .first {
    margin-bottom: 10px;
}

.footer ul li {
    position: relative;
}

.footer ul li::after {
    content: '';
    width: 1px;
    height: 10px;
    background-color: #fff;

    position: absolute;
    top: 50%;
    right: -18px;
    transform: translateY(-50%);
}

.footer ul li:last-child::after {
    display: none;
}

@media screen and (max-width: 1300px) {

    /* section01 */
    .section01 .inner .right .item_wrap .item .text .date-locate {
        display: block;
    }

    .section01 .inner .right .item_wrap .item .text .date {
        margin-bottom: 5px;
    }

    .section01 .inner .right .item_wrap .item .text .date::after {
        display: none;
    }

    /* 1300px */
}


@media screen and (max-width: 1285px) {

    /* header */
    .pc {
        display: none;
    }

     /* section01 */
     .section01 .left figure {
        height: 48vw;
    }

    /* section02 */
    .section02 .inner .item_wrap .main_page {
        height: 535px;
    }

    .section02 .swiper-slide {
        height: 535px;
    }

    .section02 .item_wrap .receipt .item {
        height: 252px;
    }

    .section02 .swiper-button-prev,
    .section02 .swiper-rtl .swiper-button-next {
        width: 55px;
        height: 55px;
    }

    .section02 .swiper-button-next,
    .section02 .swiper-rtl .swiper-button-prev {
        width: 55px;
        height: 55px;
    }

    .section02 .pause {
        width: 55px;
        height: 55px;
        top: 65.5%;
    }

    .section02 .swiper-slide a .menu_img {
        height: 487px
    }
}

@media screen and (max-width: 1210px) {
    html {
        font-size: 55%;
    }

    /* section01 */
    .section01 .inner .right {
        width: 63%;
    }

    .section01 .inner .left {
        width: 36%;
    }

    .section01 .inner .left figure {
        height: 42vw;
    }
}

@media screen and (max-width: 1100px) {
    .footer ul li {
        font-size: 12px;
    }
    
    .footer .second {
        display: block;
    }

    .footer .second li:nth-child(1) {
        display: inline-block;
        margin-right: 30px;
        margin-bottom: 8px;
    }

    .footer .second li:nth-child(2) {
        display: inline-block;
    }

    .footer ul li:nth-child(2)::after {
        display: none;
    }

    .footer .second li:nth-child(3) {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 50%;
    }

    /* header */
    .header .inner .util .menu figure {
        width: 24px;
        height: 24px;
    }

    .header .inner .util .menu figure img {
        width: 100%;
        height: 100%;
    }

    /* section01 */
    .section01 .item_wrap .item .circle span {
        font-size: 16px;
    }

    .section01 .inner .left figure {
        height: 44vw;
    }

    /* section02 */
    .swiper-slide {
        width: 60%;
    }

    .section02 .inner .item_wrap .main_page {
        height: 448px;
    }

    .section02 .swiper-slide {
        height: 448px;
    }

    .section02 .item_wrap .receipt .item {
        height: 210px;
    }

    .section02 .swiper-button-prev,
    .section02 .swiper-rtl .swiper-button-next {
        width: 45px;
        height: 45px;
    }

    .section02 .swiper-button-next,
    .section02 .swiper-rtl .swiper-button-prev {
        width: 45px;
        height: 45px;
        left: 120px;
    }

    .section02 .swiper-slide::after {
        height: 89px;
    }

    .section02 .swiper-slide {
        padding: 80px 0 0 50px;
    }

    .section02 .swiper-slide a .menu_img {
        right: -5%;
    }
}

/* 1024px */

@media screen and (max-width: 970px) {

    /* main */
    .main .title_wrap .inner {
        display: block;
    }

    .main .title_wrap .inner .right {
        margin-top: 3rem;
    }

    .main .swiper .swiper-wrapper .swiper-slide {
        /* width: 48% */
        width: 870px;
        height: 411px;
        margin: 30px 3.6rem; 
        /* 그림자 효과 => 위아래 margin 30px  */
    }

    .mySwiper .swiper_btn {
        width: 870px;
        height: 25.6px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9;
    }
    
    .mySwiper .swiper-button-next, 
    .mySwiper .swiper-button-prev {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        /* background-color: #fff; */
        background: url('../../img/next-btn.png') center center / 100% no-repeat #fff;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
    }
    
    .mySwiper .swiper-button-next {
        top: 22px;
        right: -32px; /* width / 2 = 64 / 2 */
    }
    
    .mySwiper .swiper-button-prev {
        background: url('../img/prev-btn.png') center center / 100% no-repeat #fff;
        top: 22px;
        left: -32px;
    }
    
    .mySwiper .swiper-pagination-bullet {
        width: 11.23px;
        height: 11.23px;
    }
    
    .mySwiper .swiper-pagination-bullet-active {
        width: 34.49px;
        background-color: #4478FF;
        border-radius: 50px;
    }

    .main .swiper_container::after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: #F3F8FF;
        position: absolute;
        bottom: -60%;
        left: 0;
        z-index: -2;
    }

    /* sectin02 */
    .section02 .item_wrap .receipt {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .section02 .item_wrap .receipt .item:nth-child(3) {
        display: none;
    }

    .section02 .item_wrap .receipt .item:nth-child(4) {
        display: none;
    }

    .section02 .inner .item_wrap .main_page {
        width: 65%;
        height: 559px;
    }

    .section02 .swiper-slide {
        height: 559px;
    }

    .section02 .item_wrap .receipt {
        width: 33%;
    }

    .section02 .item_wrap .receipt .item {
        width: 100%;
        height: 27vw;
    }

    .section02 .item_wrap .receipt .item figure::after {
        display: block;
    }

    .section02 .item_wrap .receipt .item p {
        display: block;
    }

    /* section03 */
    .section03 .inner .title h1 {
        text-align: center;
    }

    .section03 .inner>.title {
        display: block;
        margin-bottom: 55px;
    }

    .section03 .inner .title .nav {
        margin-top: 15px;
    }
}

/* 970px */

@media screen and (max-width: 950px) {

    /* main */
    .main .title_wrap {
        margin-bottom: 80px;
    }

    .main .swiper .swiper-wrapper .swiper-slide {
        /* width: 48% */
        width: 700px;
        height: 330.69px;
        margin: 30px 3.6rem; 
        /* 그림자 효과 => 위아래 margin 30px  */
    }

    .mySwiper .swiper_btn {
        width: 700px;
        height: 25.6px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9;
    }

    /* section01 */
    .section01 .pc {
        display: none;
    }

    .section01 .mobile {
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .section02 .item_wrap .receipt .item {
        width: 100%;
        height: 29vw;
    }
}

/* 900px */

@media screen and (max-width: 860px) {

    /* section02 */
    .section02 .item_wrap .receipt .item {
        width: 100%;
        height: 31vw;
    }

    /* section03 */
    .section03 .inner .item_wrap .item a .left {
        display: block;
    }

    .section03 .inner .item_wrap .item a .title {
        margin-left: 0;
        margin-top: 5px;
        line-height: 1.3;
    }

    .section03 .inner .item_wrap .item a {
        display: block;
    }

    .section03 .inner .item_wrap .item a .date {
        font-size: 16px;
        margin-top: 10px;
    }
}

/* 860px */

@media screen and (max-width: 840px) {

    /* main */
    .main .title_wrap {
        margin-bottom: 60px;
    }

    /* section01 */
    .section01 .mb_inner .content_wrap .right .text {
        width: 75%;
    }

    .section01 .mb_inner .content_wrap .right {
        width: 55%;
    }

    .section01 .mb_inner .content_wrap .left {
        width: 44%;
    }

    .section01 .mb_inner .left figure {
        height: 58vw;
    }

    /* section02 */
    .section02 .item_wrap .receipt .item {
        width: 100%;
        height: 25vw;
    }

    .section02 .inner .item_wrap .main_page {
        min-width: 480px;
        height: 445px;
    }

    .section02 .swiper-slide {
        height: 445px;
    }
}

/* 840px */

@media screen and (max-width: 810px) {
    /* section01 */
    /* .section01 .mb_inner .content_wrap .right .text {
        width: 230px;
    } */

    .section02 .item_wrap .receipt .item {
        width: 100%;
        height: 25vw;
    }
}

/* 810px */

@media screen and (max-width: 785px) {

    .main .swiper .swiper-wrapper .swiper-slide {
        /* width: 48% */
        width: 600px;
        height: 283.71px;
        margin: 30px 3.6rem; 
        /* 그림자 효과 => 위아래 margin 30px  */
    }

    .mySwiper .swiper_btn {
        width: 600px;
        height: 25.6px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9;
    }

    /* section02 */
    .section02 .item_wrap .receipt .item {
        width: 100%;
        height: 26vw;
    }
}

/* 785px */

@media screen and (max-width: 767px) {

    /* main */
    .main .title_wrap {
        margin-bottom: 50px;
    }

    /* section01 */
    .section01 .mb_inner .left {
        display: none;
    }

    .section01 .mb_inner .content_wrap .right {
        width: 100%;
    }

    /* .section01 .mb_inner .content_wrap .right .text {
        width: 400px;
    } */


    /* section02 */
    .section02 .inner .item_wrap {
        display: block;

    }

    .section02 .inner .item_wrap .main_page {
        width: 100%;
        min-width: 100%;
        margin-bottom: 35px;
    }

    .section02 .swiper-slide a .menu_img {
        height: 455px;
        top: -40px;
    }

    .section02 .item_wrap .receipt {
        flex-direction: row;
        width: 100%;
    }

    .section02 .item_wrap .receipt .item {
        width: 49%;
        height: 40vw;
    }

}

/* 767px */

@media screen and (max-width: 700px) {
    html {
        font-size: 48%;
    }


    /* header */
    .header .inner .util .menu figure {
        width: 22px;
        height: 22px;
    }

    .header .inner .util .menu figure img {
        width: 100%;
        height: 100%;
    }

}

/* 700px */

@media screen and (max-width: 700px) {
    html {
        font-size: 40%;
    }

    .main .swiper .swiper-wrapper .swiper-slide {
        /* width: 48% */
        width: 450px;
        height: 213px;
        margin: 30px 3.6rem; 
        /* 그림자 효과 => 위아래 margin 30px  */
    }

    .mySwiper .swiper_btn {
        width: 450px;
        height: 25.6px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9;
    }

    .mySwiper .swiper-button-next, 
    .mySwiper .swiper-button-prev {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        /* background-color: #fff; */
        background: url('../../img/next-btn.png') center center / 100% no-repeat #fff;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
    }
    
    .mySwiper .swiper-button-next {
        top: 22px;
        right: -22.5px;
    }
    
    .mySwiper .swiper-button-prev {
        background: url('../img/prev-btn.png') center center / 100% no-repeat #fff;
        top: 22px;
        left: -22.5px;
    }
    
    .mySwiper .swiper-pagination-bullet {
        width: 11px;
        height: 11px;
    }
    
    .mySwiper .swiper-pagination-bullet-active {
        width: 34px;
        background-color: #4478FF;
        border-radius: 50px;
    }

    /* section03 */
    .section03 .inner .title .nav {
        justify-content: center;
    }

    .section03 .inner>.title {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 630px) {
    .footer ul li{
        margin-bottom: 10px;
    }

    .footer .second li{
        margin-bottom: 7px;
    }

    .footer ul li::after {
        display: none;
    }

    .footer ul {
        display: block;
        text-align: center;
    }

    .footer .second li:nth-child(1) {
        display: block;
        margin-bottom: 7px;
    }

    .footer .second li:nth-child(2) {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    /* .section01 .mb_inner .content_wrap .right .text {
        width: 360px;
    } */

    .section02 .item_wrap .receipt .item p {
        font-size: 17px;
    }

    .section02 .swiper-slide a .menu_img {
        height: 380px;
        top: 35px;
    }

    .section02 .swiper-slide {
        padding: 60px 0 0 35px;
    }

    .section02 .swiper-button-prev,
    .section02 .swiper-rtl .swiper-button-next {
        left: 35px;
    }

    .section02 .swiper-button-next,
    .section02 .swiper-rtl .swiper-button-prev {
        left: 90px;
    }

}

/* 600px */

@media screen and (max-width: 580px) {

    /* main */
    .main .title_wrap {
        margin-bottom: 40px;
    }

    /* section01 */
    .section01 .item_wrap .item .circle {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }

    .section01 .item_wrap .item .circle span {
        font-size: 15px;
    }

    .section01 .mb_inner .item_wrap .item .text .date-locate {
        display: none;
    }

    .section01 .mb_inner .item_wrap .item .text h2 {
        margin-bottom: 0;
    }

    .section01 .title_wrap {
        display: block;
        position: relative;
        margin-bottom: 30px;
    }

    .section01 .title_wrap .plus {
        width: 32px;
        height: 32px;

        position: absolute;
        top: -5px;
        right: 0;
    }

    .section01 .title_wrap .plus a figure {
        width: 32px;
        height: 32px;
    }

    .section01 .item_wrap .item {
        padding: 20px 18px;
    }

    /* .section01 .mb_inner .content_wrap .right .text {
        width: 320px;
    } */
}

/* 580px; */

@media screen and (max-width: 580px) {
    html {
        font-size: 38%;
    }
}

@media screen and (max-width: 530px) {
    .main .swiper .swiper-wrapper .swiper-slide {
        /* width: 48% */
        width: 390px;
        height: 184.6px;
        margin: 30px 3rem; 
        /* 그림자 효과 => 위아래 margin 30px  */
    }

    .mySwiper .swiper_btn {
        width: 390px;
        height: 25.6px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9;
    }
}

@media screen and (max-width: 500px) {
    .main .title_wrap .inner .left h1 {
        font-size: 35px;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 37.5%;
    }

    /* header */
    .header .inner .logo a figure {
        width: 50px;
    }

    .header .inner .util .menu figure {
        width: 18px;
        height: 18px;
    }

    .header .inner .util .menu figure img {
        width: 100%;
        height: 100%;
    }


    /* main*/
    .main .title_wrap .inner .left h1 {
        font-size: 30px;
    }

    .main .title_wrap .inner .left {
        gap: 5px;
    }

    .main .title_wrap .inner .left figure {
        width: 120px;
    }

    .main .title_wrap {
        margin-bottom: 50px;
    }

    .main .swiper .swiper-wrapper .swiper-slide {
        /* width: 48% */
        width: 360px;
        height: 170px;
        margin: 30px 2rem; 
        /* 그림자 효과 => 위아래 margin 30px  */
    }

    .mySwiper .swiper_btn {
        width: 360px;
        height: 25.6px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9;
    }
    
    .mySwiper .swiper-button-next, 
    .mySwiper .swiper-button-prev {
        width: 25.6px;
        height: 25.6px;
        border-radius: 50%;
        /* background-color: #fff; */
        background: url('../../img/next-btn.png') center center / 100% no-repeat #fff;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
    }
    
    .mySwiper .swiper-button-next {
        top: 22px;
        right: -12.8px; /* width / 2 = 25.6 / 2 */
    }
    
    .mySwiper .swiper-button-prev {
        background: url('../img/prev-btn.png') center center / 100% no-repeat #fff;
        top: 22px;
        left: -12.8px;
    }
    
    .mySwiper .swiper-pagination-bullet {
        width: 8.42px;
        height: 8.42px;
    }
    
    .mySwiper .swiper-pagination-bullet-active {
        width: 25.87px;
        background-color: #4478FF;
        border-radius: 50px;
    }

    /* section02 */
    .section02 .swiper-slide a .menu_img {
        height: 320px;
        top: 80px;
    }

    .section02 .item_wrap .receipt .item p {
        font-size: 15px;
    }

    .section02 .swiper-slide::after {
        height: 70px;
    }
}

/* 480px */

@media screen and (max-width: 425px) {

    /* section02 */
    .section02 .inner .item_wrap .main_page {
        max-height: 365px;
    }

    .section02 .swiper-slide {
        max-height: 365px;
    }

    .section02 .swiper-button-prev,
    .section02 .swiper-rtl .swiper-button-next {
        top: 68%;
        width: 36px;
        height: 36px;
    }

    .section02 .swiper-button-next,
    .section02 .swiper-rtl .swiper-button-prev {
        top: 68%;
        width: 36px;
        height: 36px;
        left: 80px;
    }

    .section02 .swiper-slide a .menu_img {
        top: 20px;
    }
}

/* 425px */